- @assignments.each do |assignment|
	%br
	%table
		%tr
			%td
				= assignment.description
				= button_to "Add a comment", assignment_path(assignment.id), method: :get
				- assignment.submissions.each do |f|
					= f.workflow_status
					= f.user.email
					- assignment.comments.each do |ff|
						= ff.description